.popover {
    position: relative;
}

.popover--top .content {
    bottom: 100%;
}

.popover--bottom .content {
    top: 100%;
}

.content {
    position: absolute;
    left: 50%;
    display: none;
    background: #fff;
    padding: 12px;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
    transform: translateX(-50%);
}


.open .popover {
    overflow: auto;
}

.open .content {
    display: block;
}

