.popover {
    position: relative;
}

.content {
    position: absolute;
    left: 50%;
    display: none;
    background: var(--popup-background);
    padding: 12px;
    border: 1px solid var(--border-second);
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
    transform: translateX(-50%);
}

.popover-top .content {
    bottom: 100%;
}

.popover-bottom .content {
    top: 100%;
}

.open .popover {
    overflow: auto;
}

.open .content {
    display: block;
}
