.button {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding: 12px 6px;
    width: 100%;
    background: #000000;
    border: none;
    cursor: pointer;
    border-radius: 0;
    white-space: nowrap;
}

.button--icon-text {
    display: flex;
    align-items: center;
}

.button--icon-text .icon {
    margin-right: 12px;
}

.button:hover,
.button:focus {
    background: #101010;
    outline: #5933f2 solid;
}

.button--secondary,
.button--icon {
    background: none;
    color: #5933f2
}

.button--secondary:hover,
.button--secondary:focus,
.button--icon:hover,
.button--icon:focus {
    background: none;
    color: #5933f2;
}

.button--action {
    background: none;
    color: #000000;
}

.button--action:hover,
.button--action:focus { 
    background: none;
    color: #000000;
}

.button--link {
    color: #5551FF;
    font-weight: bold;
    text-align: left;
    padding: 13px 0;
    background: transparent;
}

.button--link:hover,
.button--link:focus {
    background: none;
    color: #5551FF;
    outline: none;
    text-decoration: underline;
}