.button {
    color: var(--text-secondary);
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding: 12px 6px;
    width: 100%;
    background: var(--secondary);
    border: none;
    cursor: pointer;
    border-radius: 0;
    white-space: nowrap;
}

.button-icon-text {
    display: flex;
    align-items: center;
}

.button-icon-text .icon {
    margin-right: 12px;
}

.button:hover,
.button:focus {
    background: var(--secondary-focus);
    outline: var(--primary) solid;
}

.button-secondary,
.button-icon {
    background: none;
    color: var(--primary)
}

.button-secondary:hover,
.button-secondary:focus,
.button-icon:hover,
.button-icon:focus {
    background: none;
    color: var(--primary);
}

.button-action {
    background: none;
    color: var(--text-primery);
}

.button-action:hover,
.button-action:focus {
    background: none;
    color: var(--text-primery);
}

.button-link {
    color: var(--primary);
    font-weight: bold;
    text-align: left;
    padding: 13px 0;
    background: transparent;
}

.button-link:hover,
.button-link:focus {
    background: none;
    color: var(--primary);
    outline: none;
    text-decoration: underline;
}