.item {
    display: flex;
    align-items: center;
    padding: 10px 6px;
    border-top: 1px solid var(--border-first);
    cursor: pointer;
}

.item:hover {
    background-color: var(--active-chat-backround);
}

.avatar {
    margin-right: 24px;
}

.content {
    flex-grow: 1;
}

.message {
    font-size: 12px;
    color: var(--text-washy);
}

.message strong {
    color: var(--text-primery);
}

.time {
    font-size: 10px;
    color: var(--text-washy);
}

.unread {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    width: 20px;
    height: 20px;
    padding: 4px;
    background: var(--primary);
    border-radius: 50%;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group:not(:last-child) {
    margin-bottom: 4px;
}
