.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    position: relative;
    width: 148px;
    height: 148px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.overlay {
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: var(--text-secondary);
    background: rgba(0, 0, 0, 0.5);
}

.avatar:hover .overlay {
    display: flex;
}

.name {
    font-size: 16px;
    margin: 15px 0;
}