.sidebar {
    display: block;
    padding: 10px;
    height: 100%;
    background: #FCFCFC;
    border-right: 1px solid #D4D4D4;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hamburger {
    min-width: 62px;
    margin-right: 12px;
}

.chat-list {

}