html {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --primary: #5933f2;
    --secondary: #000000;
    --secondary-focus: #101010;
    --text-primery: #000000;
    --text-secondary: #ffffff;
    --text-washy: #999999;
    --text-message: #1e1e1e;
    --border-first: #d4d4d4;
    --border-second: #e9e9e9;
    --border-message: #eaeaea;
    --background-first: #fcfcfC;
    --message-background: #f6f8fa;
    --my-message-background: #e4edfd;
    --active-chat-backround: #f6f5ff;
    --popup-background: #ffffff;
}